body {
  background-color: #222;
  font-family: 'Roboto', sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Slabo 27px', serif;
}

.month1 {
  background-color: #3291cb;
}

.month2 {
  background-color: #0061fb;
}

.month3 {
  background-color: #2f2ea1;
}

.month4 {
  background-color: #9b364f;
}

.month5 {
  background-color: #ee4f35;
}

.month6 {
  background-color: #ed6731;
}

.month7 {
  background-color: #f29c31;
}

.month8 {
  background-color: #f3bc32;
}

.month9 {
  background-color: #fff74a;
}

.month10 {
  background-color: #d7e23d;
}

.month11 {
  background-color: #78a737;
}

.month12 {
  background-color: #3291cb;
  margin-bottom:40px;
}

.audio-cell {
  min-height:100px;
  border-bottom: 1px solid black;
  text-align: center;
  color: white;
  padding-left:20px;
  padding-right:20px;
}

.status-icon {
    font-size: 48px;
    line-height: 100px;
}

.track-title {
  float:left;
  font-size:24px;
  line-height: 90px;
  padding-top:10px;
}

.status-icon {
  float:right;
}

.btn-centered {
  text-align: center;
}

.modal-header {
  align-items: flex-end;
  background-image: url('../images/stars_background.jpg');
  height:120px;
}

.modal {
  background-color: #222;
}
.modal-title {
  color: #f3e697;
}

.currently-playing {
  position: fixed;
  bottom: 0;
  width:100%;
  height: 40px;
  line-height: 40px;
  padding-left:5px;
  padding-right:30px;
  background-color: #222;
  color: #EEE;
}

.disabled {
  color: #999;
}

.playing-text {
  float:left;
}

.progress-time {
  float:right;
  margin-right:5px;
}

.play-status-icon {
  float:right;
  font-size: 24px;
}
